<script type='text/javascript'>
  <% if logged_in? %>
    window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
  <% end %>
</script>

<script>
  window.logo = "<%= asset_path('logo1.png') %>"
  window.logoLoggedIn = "<%= asset_path('logologgedin.png') %>"
  window.profile = "<%= asset_path('profile.png') %>"
</script>

<main id='root'></main>
