.app {
  display: grid;
  font-family: helvetica, sans-serif;
  grid-template-rows: 52px auto 100px;
  grid-template-areas:
    "nav"
    "content"
    "footer"
}

.nav {
  grid-area: nav;
}

.page-content {
  grid-area: content;
  height: 1000px;
}

.footer {
  grid-area: footer;
}
