.app {
  margin: auto;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: calc(100vh);
}

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 251);
  border-top: 3px solid rgb(242, 126, 38);
  box-shadow: 0 1px 0 rgba(12,13,14,0.15);
  z-index: 2;
}

.page {
  width: 100%;
  margin-top: 50px;
}

.content {
  max-width: 1060px;
  padding: 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.footer {
  width: 100%;
  min-height: 216px;
  background-color: rgb(37, 39, 41);
}
