.footer-content {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  max-width: 1060px;
}

.footer-icon.logo {
  width: 60px;
  height: 60px;
  margin: 20px 5px 0 0;
}

.footer-column {
  min-width: 200px;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
}

.maincat {
  font-size: 14px;
  font-weight: 550;
  color: rgb(187, 192, 191);
  margin-bottom: 10px;
}

.subcat {
  color: #848d95;
  font-size: 13px;
  margin: 5px 0;
  min-height: 20px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footer-links.subcat {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}
