.index-page {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

/* ==============================header============================== */
.index-header {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.index-header > header {
  grid-area: header;
  font-size: 27px;
}

.ask-question {
  grid-area: ask-question;
  text-align: center;
  padding-top: 10px;
  width: 100px;
  height: 25px;
  border: 1px solid #0095ff;
  border-radius: 3px;
  font-size: 13px;
  color: #07C;
}

.ask-question:hover {
  color: #005999;
  background-color: rgba(0,119,204,0.05);
}

.index-sub-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.question-counter {
  font-size: 17px;
}

.sort-tabs {
  display: flex;
  flex-flow: row nowrap;
}

.sort-tab {
  border: 1px solid #adb3b9;
  box-shadow: 0 0 0 0 rgba(145,153,161,0);
  color: #6a737c;
  padding: 8px;
  font-size: 13px;
}

.sort-tab:hover {
  color: #535960;
  background-color: rgba(183,192,200,0.05);
}

/* ==========================question index========================== */
.questions-index {
  border-top: 1px solid #d6d9dc;
  display: flex;
  flex-flow: column nowrap;
}

.index-item {
  border-bottom: 1px solid #eff0f1;
}
