

.questions-index-page {
  display: flex;
  flex-flow: column nowrap;
  width: 728px;
}

.questions-index-header {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e6e8;
  align-items: center;
}

.questions-index-head {
  font-size: 18px;
  font-weight: 400;
}

.questions-index-page {
  display: flex;
  flex-flow: column nowrap;
}

.q-item {
  box-sizing: border-box;
  border-bottom: 1px solid #e4e6e8;
  height: 160px;
  display: flex;
  padding: 12px 0 10px 0;
}

.q-stat {
  color: #6a737c;
  width: 120px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.q-votes {
  margin-bottom: 25px;
}

.q-votes-number {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.q-votes-label {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
}

.q-answers-number {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.q-answers-label {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
}

.q-content {
  width: 630px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.q-title {
  color: #07C;
  font-weight: 400;
  margin-bottom: 7px;
}

.q-body {
  font-size: 13px;
  font-weight: 400;
}

.q-user-info {
  margin-top: auto;
}

.user-tag{
  margin-left: auto;
  margin-top: auto;
}
