.questions-index-page {
  display: flex;
  flex-flow: column nowrap;
  width: 728px;
}

.questions-index-header {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e6e8;
  align-items: center;
}

.questions-index-head {
  font-size: 18px;
  font-weight: 400;
}

.question-item {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e6e8;
  height: 160px;
  padding: 12px 0 10px 0;
}

.question-item-stats {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 0 8px;
}

.question-item-summary {
  display: flex;
  flex-flow: column nowrap;
}

.question-item-header {
  color: #005999;
  font-weight: 400;
  margin-bottom: 7.5px;
}

.question-item-body {
  font-size: 13px;
  font-weight: 400;
}

.author-info {
  align-self: flex-end;
  width: 200px;
  height: 70px;
  padding: 5px 6px 7px 7px;
  font-size: 12px;
  color: #005999;
}
