.index-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px 16px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 60px min-content 1fr;
  grid-template-areas:
    'header sidebar'
    'sub-header sidebar'
    'questions-index sidebar';
}

.index-page .sidebar {
  grid-area: sidebar;
}

/* ==============================header============================== */
.index-header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.index-header > header {
  font-size: 27px;
}

.ask-question {
  text-align: center;
  padding-top: 10px;
  width: 100px;
  height: 25px;
  border: 1px solid #0095ff;
  border-radius: 3px;
  font-size: 13px;
  color: #07C;
}

.ask-question:hover {
  color: #005999;
  background-color: rgba(0,119,204,0.05);
}

.index-sub-header {
  grid-area: sub-header;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.question-counter {
  font-size: 17px;
}

.sort-tabs {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid #adb3b9;
  border-radius: 3px;
}

.sort-tab {
  border-right: 1px solid #adb3b9;
  box-shadow: 0 0 0 0 rgba(145,153,161,0);
  color: #6a737c;
  padding: 8px;
  font-size: 13px;
}

.sort-tabs > .selected {
  color: #3b4045;
  background-color: rgba(174,192,209,0.25);
}

.sort-tabs > .far-right {
  border-right: none;
}

.sort-tabs .unselected:hover {
  color: #535960;
  background-color: rgba(183,192,200,0.05);
}

/* ==========================question index========================== */
.questions-index {
  grid-area: questions-index;
  border-top: 1px solid #d6d9dc;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.index-item {
  border-bottom: 1px solid #eff0f1;
  padding: 12px 8px;
}

.index-item > .stats {
  color: #6a737c;
}

.index-item > .stats > .answered {
  color: #45A163;
  border: 1px solid rgba(69,161,99,0.5);
}

.index-item > .title {
  color: #07C;
  font-weight: 400;
}

/* =======================question single-line======================= */
.question-single-line {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 140px 1fr;
  grid-template-areas:
    'stats title'
    'stats author';
}

.question-single-line .stats {
  grid-area: stats;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: space-around;
  padding-right: 8px;
  height: 50px;
}

.question-single-line .stats .votes,
.question-single-line .stats .answers{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 6px;
}

.question-single-line .stats span {
  font-size: 11px;
}

.question-single-line .stats div {
  font-size: 17px;
}

.question-single-line .title {
  grid-area: title;
  padding-bottom: 6px;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 16px;
  max-width: 636px;
}

.question-single-line .author-single-line {
  grid-area: author;
  display: flex;
  flex-flow: row wrap;
  justify-self: end;
}

/* ===========================question box=========================== */
.question-box {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    'stats-box title-box'
    'stats-box body-box'
    'stats-box author-box';
}

.question-box .stats {
  width: 58px;
  grid-area: stats-box;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: 0 16px 0 8px;
}

.question-box .stats .votes,
.question-box .stats .answers{
  margin-bottom: 8px;
  padding: 5px 0 7px 0;
}

.question-box .stats span {
  font-size: 11px;
}

.question-box .stats div {
  font-size: 20px;
}

.question-box .title {
  grid-area: title-box;
  margin-bottom: 7.5px;
  height: min-content;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 694px;
}

.question-box .body {
  grid-area: body-box;
  height: min-content;
  margin-bottom: 5px;
  color: #3b4045;
  font-size: 13px;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 694px;
}

.question-box .author {
  grid-area: author-box;
  justify-self: end;
}
