.session {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  max-width: 1060px;
}

.session-tabs {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(228, 230, 232);
}

.session-tab-btn {
  font-size: 13px;
  padding: 13px;
  border: 1px solid rgb(228, 230, 232);
}

.session-header {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.session-form {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.session-form-field {
  display: flex;
  flex-flow: column nowrap;
  width: 342px;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(228, 230, 232);
  font-size: 13px;
}

.session-label {
  font-weight: 700;
}

.session-input {
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgb(228, 230, 232);
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
}

.session-submit {
  align-self: flex-end;
  box-sizing: border-box;
  font-weight: 400;
  color: #fff;
  background-color: rgb(14, 115, 204);
  border-radius: 3px;
  text-align: center;
  height: 38px;
  width: 125px;
  padding: 12px 40px;
  margin-top: 16px;
}
