.session {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}


/* tabs */
.session-tabs {
  display: flex;
  width: 1060px;
  flex-flow: row nowrap;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(228, 230, 232);
  font-size: 12px;
  font-weight: 400;
}

.session-login-tab, .session-signup-tab {
  padding: 13px 10px;
  position: relative;
  border: 1px solid transparent;
  top: 1px;
}

.session-login-tab {
  margin-right: 10px;
}

.unselectedSession {
  color: #848d95;
}

.unselectedSession:hover {
  background-color: rgba(132,141,149,0.05);
  border-color: rgba(228,230,232,0.25);
  color: #535a60;
}

.selectdSession {
  border-top: 2px solid rgb(242, 126, 38);
  border-left: 1px solid rgb(228, 230, 232);
  border-right: 1px solid rgb(228, 230, 232);
  border-bottom: 2px solid #fff;
  padding-top: 11px;
}


/* message */
.session-header {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}


/* form */
.session-form {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.session-form-field {
  width: 342px;
  display: flex;
  flex-flow: column nowrap;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(228, 230, 232);
  font-size: 13px;
}

.session-field {
  position: relative;
}

.session-name-input {
  width: 280px;
  font-weight: 400;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(228, 230, 232);
  margin-top: 5px;
  margin-bottom: 10px;
}

.session-label {
  font-weight: 700;
}

.session-input {
  width: 280px;
  height: 33px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgb(228, 230, 232);
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
}

.session-submit {
  align-self: flex-end;
  box-sizing: border-box;
  font-weight: 400;
  color: #fff;
  background-color: rgb(14, 115, 204);
  border-radius: 3px;
  text-align: center;
  height: 38px;
  width: 125px;
  padding: 12px 40px;
  margin-top: 16px;
}


/* redirect box */
.session-redirect {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 342px;
  font-size: 13px;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(228, 230, 232);
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 20px;
}

.session-redirect-label {
  margin: 10px;
}

.session-employer{
  margin-top: 10px;
}

.session-link {
  color: rgb(14, 115, 212);
}

.session-link:hover {
  color: #1da9da;
}


/* errors */
.error {
  position: relative;
  background: #be4248;
  padding: 12px;
  color: white;
}

.error:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 10px 8px 0;
  border-color: transparent #be4248;
  width: 0;
  z-index: 1;
  left: -10px;
  top: 0px;
}

.email {
  position: absolute;
  white-space: nowrap;
  left: 290px;
  top: 14px;
}

.password {
  position: absolute;
  left: 290px;
  white-space: nowrap;
  top: 14px;
}

.demo:hover {
  cursor: pointer;
}
