.sidebar {
  display: flex;
  flex-flow: column nowrap;
  order: 1;
}

.ask-question {
  background-color: #fff;
  border: 1px solid #0095ff;
  color: #0095ff;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 13px;
  padding: 8px 13px;
  height: 33px;
  width: 110px;
  text-align: center;
}

.ask-question:hover {
  color: #005999;
  background-color: #e6f4ff;
  border-color: #07c;
}
