.user-tag {
  width: 200px;
  height: 70px;
  padding: 5px 6px 7px 7px;
  display: flex;
  flex-flow: column nowrap;
}

.user-tag-time {
  font-size: 12px;
  color: #6a737c;
}

.user-tag-profile {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 5px;
}

.user-tag-info {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 5px;
}

.user-tag-author {
  font-size: 13px;
  color: #005999;
}

.user-tag-img {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}
